* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.2s linear;
}

:root {
    --blue: #2058ff;
    --light-yellow: #ffee80;
    --black: #130f40;
    --light-color: #666;
    --primary: #130f40;
    --secondary: #2058ff;
    --light-grey: #666;
    --white: #fff;
    --border: 0.1rem solid rgba(0, 0, 0, 0.1);
    --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    --card-width: 250px;
    --card-border-radius: 16px;
    --row-increment: 10px;
    --card-small: 26;
    --card-medium: 33;
    --card-large: 45;
}

html,
body {
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

section {
    padding: 2rem 9%;
}

.container-title {
    text-align: center;
}

.container-title h2 {
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--primary);
    margin: 0;
    border-bottom: 2px solid var(--primary);
    display: inline-block;
    padding-bottom: 10px;
    font-family: "Poltawski Nowy", serif;
}

.text-national {
    text-align: center;
    padding-top: 30px;
    width: 70%;
    margin: 0 auto;
    padding-left: 0;
}

.jumbotron {
  position: relative;
  text-align: center;
  color: white;
}

.jumbotron img {
  width: 100%;
  max-height: 680px;  
  filter: brightness(0.5);
}
.jumbotron .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.jumbotron .overlay h1 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 80px;
  margin: 0;
}

.jumbotron .overlay p {
  font-size: 20px;
  margin: 0;
}